body {
    font-family: 'poppins', Helvetica, sans-serif;
}
.non-el {
    display:none;
}
.hidden-el {
    visibility:hidden;
}
p {
    display: inline;
}
a {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10px 20px;
    padding: 20px;
    border: 2px solid green;
    background-color: aquamarine;
    text-align: center;
}