* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(44, 44, 240);
}
body {
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
}
.nav-bar li {
  white-space: nowrap;
  padding: 0px 15px;
  display: flex;
  height: 50px;
  list-style: none;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nav-bar ul {
  background-color: rgb(54, 172, 246);
  display: flex;
  gap: 18px;
  text-transform: uppercase;
}
.special-item {
  background-color: var(--primary-color);
}
.flex-container h1 {
  background-color: rgb(53, 113, 244);
  font-size: 1.5rem;
}
.flex-container h3 {
  position: relative;
}
.flex-container {
  max-width: 1148px;
  background-color: rgb(54, 172, 246);
  color: #fff;
  margin: 20px 5px 5px 20px;
  padding: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.nav-bar {
  max-width: 1148px;
  margin: 20px 20px 10px 20px;
}
.cards {
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.card {
  width: 33%;
}
.form-group {
  position: relative;
}
.form-group h2 {
  font-size: medium;
  font-weight: 500;
}
.btn {
  padding: 5px;
  margin-top: 8px;
  background-color: #3457d5;
  color: #fff;
  border-radius: 3px;
}
.btn:hover {
  background-color: #fff;
  color: black;
}

.card-img {
  width: 250px;
  height: 200px;
}

@media (max-width: 800px) {
  .flex-container {
    width: auto;
    height: auto;
    margin: 7px 5px 5px 5px;
  }

  .cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    margin: 5px 5px 5px 5px;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-between;
  }

  .card-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 420px) {
  .nav-bar li:nth-child(4) {
    display: none;
  }
}
