* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    height: 400px;
    background-color: lightgray;
}
.item {
    background-color: coral;
    padding: 1rem;
    border: 1px solid black;
    align-items: center;
}
.item-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr) */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.item-1 {
    /* long way for moving item 1 to three */
    grid-column-start: 1;
    grid-column-end: 3;
    /* short way */
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}
