* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.border-button {
    padding: 2px;
    background: #4158D0 linear-gradient(115deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.btn {
    color: white;
    background-color: black;
    width: 200px;
    padding: 15px 25px;
}
