.container {
    max-width: 600px;
    margin: 30px auto;
}
.btn {
    padding: 1rem;
    background-color: rgb(16, 179, 234);
    color: white;
    text-transform: capitalize;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    /* transition: background-color 0.8s ease-in-out, width 0.8s; */
    transition: all 0.8s ease-in-out;
}
.btn:hover {
    background-color: lightgray;
    width: 400px;
}
.logo {
    margin-top: 300px;
    width: 50%;
    transition: all 0.6s;
}
.logo:hover {
    transform: rotate(90deg);
    transform: translateX(200px);
    transform: skew(20deg);
    transform: scale(0.5);
    transform: translateX(90deg) scale(2);
}
