* {
    margin: 0;
    padding: 0;
}
@media (max-width: 576px) {
    .Smartphones {
        background-color: coral;
    }
}
@media (max-width: 768px) {
    .Tablets {
        background-color: blue;
    }
}
@media (max-width: 992px) {
    .Desktop {
        background-color: blueviolet;
    }
}
@media (max-width: 1024px) {
    .Landscape {
        background-color: aquamarine;
    }
}
@media (max-width: 1200px) {
    .Widescreen {
        background-color: aqua;
    }
}
@media (orientation: landscape) {
    .Landscape {
        background-color: bisque;
    }
}
@media (max-height: 600px) {
    .Widescreen {
        background-color: blanchedalmond;
    }
}