* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 20px;
    background-color: #f4f4f4;
}
.item {
    background-color: coral;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 3fr 4fr;
    gap: 1rem;
}