* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins';
}
.container {
    background-color: coral;
    height: 100vh;
    /*vh means viewport height the viewport is all the screen so we choose 100 means all the screen height and by default the widht is 100 too
    however we can change it by using the vw - viewport width unit*/
}
.container h1 {
    font-size: 5vh;

}