body {
    font-family: 'Courier New', Courier, monospace;
}
.flex-container {
    background-color: lightblue;
    display: flex;
    width: 10%;
    justify-content:left;
    display:block;
    
}
.flex-item {
    background-color: coral;
    border: 1px solid black;
    padding: 20px;
}