* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: lightgray;
}
.item {
    background-color: coral;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(100px, 1fr));
    /*with autofill it will fill all the spaces , with auto fit it will crrate any columns as possible*/
    /* grid-template-columns: repeat(auto-fill, min-max(100px, 1fr));*/
}