* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', Helvetica, sans-serif;
}
:root {
    --primary-color:lightblue;
    --secondery-color:lightgreen;
}
header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    
}
.container {
    display: flex;
    max-width: 600px;
    gap: 20px;
    margin: 30px auto;
}
.box {
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px lightgray;
    flex: 1;
}
.box-1 {
    background-color: var(--secondery-color);
}